
// Mobile first Methodology

$competitive-sm: 768px; // Breakpoint for tablet portrait
$competitive-md: 992px; // Breakpoint for tablet landscape
$competitive-lg: 1025px; // Breakpoint for desktop

// Colors: 
$title-blue: #000;
$footer-blue: #000;
$title-black: #3c3c3c;
$black: #000000;
$gray-tag: #6c6c6c;
$gray: #CCCCCC;
$gray-tooltips: #747474;
$gray-bg-tooltip: #636363;
$gray-border-tooltip: #464646;
$white: #ffffff;